<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Veilig - Encrypted Pastes</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
</head>
<body>
<div class="container-veilig">
    @RenderBody()
</div>
</body>
</html>